*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}


ul li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: aliceblue;
}

.signup__container{    
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, var(--color-bg) 60%, var(--color-bg-variant) 40%);
}

:root {
    --color-bg: rgb(0,233,134);
    --color-bg-variant: rgb(0,158,75);
    --color-primary: rgb(0,233,134);
    --color-primary-variant: rgb(0,158,75);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
  
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
  
    --transition: all 400ms ease;
}

.signup_boxes {    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    place-items: center;
    column-gap: -40px;
}


.signup_box{
    height: 28rem;
    width: 24rem;
    border-radius: 20px;
}

.signup_box1 {
    background-color: var(--color-bg);
    box-shadow: 45px 15px 10px var(--color-bg-variant), -15px -15px 10px var(--color-bg-variant), -15px 15px 10px var(--color-bg-variant), 45px -15px 10px var(--color-bg-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.signup_box2 {
    background-color: var(--color-bg-variant);
    
    box-shadow: 15px 15px 10px var(--color-bg-variant), 15px -15px 10px var(--color-bg-variant);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem;
    color: var(--color-white);

}

.signup_signup_btn{
    width: 138px;
    height: 40px;
    border-radius: 27px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background:  rgba(43, 42, 41, 1);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
}

.signup_google_signup{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 44px;
    border-radius: 27px;
    background: rgba(255, 255, 255, 1);
}

.signup_google_logo{
    height: 23px;
    width: 23px;
    background: url(../../assets/google.png) center center ;
    background-size: cover;
}



.signup_box1 h2{
    font-family: Aleo;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;

}

input {
    width: 320px;
    height: 40px;
    border-radius: 27px;
    text-align: center;
    outline: none;
    border-color: transparent;
    background: "#1C8D73";
}

.signup_box2 h2{
    font-size: 2.5rem;
    text-align: left;
}

.signup__singin__btn{
    margin-top: 1rem;
    width: 89.57px;
    height: 31.82px;
    background: var(--color-bg-variant);
    border: 2px solid white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
}

.signup__name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 12px;
}

.signup__name input{
    gap: 20px;
    width: 90%;
}



/* ------------- for large screen ---------- */
@media screen and (max-width: 1024px) {
    
}
/* ------------- for medium screen  ---------- */
@media screen and (max-width: 800px) {     
    .signup_box2 {
        display: none;
    }
    .signup_box1 {
        max-width: var(--container-width-md);
        box-shadow: 15px 15px 10px var(--color-bg-variant), -15px -15px 10px var(--color-bg-variant), -15px 15px 10px var(--color-bg-variant), 15px -15px 10px var(--color-bg-variant);
    }
}
/* ------------- for small screen ---------- */
@media screen and (max-width: 450px) {
    .signup_box1 {
        max-width: var(--container-width-sm);
    }
    .signup_box1 input {
        max-width: var(--container-width-sm);
    }
    .signin_btn {
        max-width: 80%;
    }
    .signup__name{
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        align-items: center;
        gap: .7rem;
    }
    .signup__name input {
        gap: 0px;
    }
}

